.spinner{
    margin-top: 260px;
    margin-bottom: 260px;
}

.container-detail{
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0.3, 0.3, 0.3, 0.3); 
    margin-bottom: 3rem;
}

.col-img{
    display: flex; 
    justify-content: center; 
}
.detail-img{
    width: 350px;
    height: 350px;
}

.descripcion{
    font-size: 15px;
}

.precio{
    font-size: 30px;
}

.descuento{
    font-size: 14px;
}

.link-medios-pago{
    color: rgba(84, 83, 83, 0.952);
}

.button-agregar-carrito{
    background-color: #e95176;
    color: white;
    border-radius: 10px;
    border: white;
    padding: 10px;
}

.compra-protegida {
    display: flex;
    justify-content: start;
    align-items: center;
}


