.color-navbar {
    background-color: #e95176; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.color-navbar .navbar-nav .nav-link {
    color: white; 
}

.color-navbar .navbar-brand {
    color: white;
}

.logo {
    width: 100px;
}

.link-navbar {
    text-decoration: none;
    color: white;
    padding: 10px 20px; 
    transition: color 0.3s; 
    font-size: 18px;
}

.link-navbar:hover {
    color: #ae6cc8; 
}


.navbar-nav {
    display: flex;
    justify-content: space-between; 
}
