@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html, body {
  height: 100%; 
  margin: 0;    
  padding: 0;  
  font-family: 'Roboto', sans-serif !important; 
}

body {
  box-sizing: border-box;
}
